*{
    cursor: url('ass/cursorWin.cur'), auto;
    font-family: 'VT323';
    font-size: 16px;
}

body {
background-color: teal;
font-family: fixedsys, consolas, monospace;
-webkit-font-smoothing : none;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
overflow: hidden;
}

.window {
background: #fff;
height: 100%;
width: 100%;
position: relative;
border: 1px solid #000;
z-index: 10;
}

.window .title {
background: #000099;
color: #fff;
text-align: center;
line-height: 24px;
height: 26px;
border-bottom: solid 1px #000;
font-size: 24px;
display: block;
}

.window .app-title {
    margin: 0% auto;
    left: 0;
    right: 0;
    font-size: 24px;
}

.window .button {
background: #c0c0c0;
color: #000;
margin-left: 99px;
width: 100px;
height: 20px;
font-size: 12px;
float: left;
border: outset 3px;
line-height: 20px;
text-align: center;
z-index: 10;
}

.window .title .button {
background: #c0c0c0;
color: #000;
margin: 0px;
width: 20px;
height: 20px;
font-size: 12px;
float: right;
border: outset 3px;
line-height: 20px;
z-index: 10;
}

.window .button:active {
border: inset 3px;
}

.window .title .close {
float: left;
color: #fff;
font-weight: 800;
font-size: 21px;
line-height: 16px;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.menubar {
height: 24px;
border-bottom: solid 1px #191919;
}

.menubar .menuitem {
line-height: 24px;
padding: 0px 7px;
display: inline-block;
font-size: 20px;
}

.menubar .menuitem a {
color: black;
}

.icons {
position: absolute;
bottom: 0px;
left: 0px;
right: 0px;
padding: 15px 5px;
background: #fff;
z-index: 5;
}

.icon {
display: inline-block;
margin: 2px 2px;
width: 80px;
font-size: 12px;
text-align: center;
text-decoration: none;
}

.icon a {
color: black;
text-decoration: none;
}

.icon:active > .text {
background: #000099;
color: #fff;
}

.window-border {
background: #cdcdcd;
position: absolute;
padding: 2px 4px 4px 2px;
border: 1px solid #000;  
}

.handle {
position:absolute;
height: 29px;
width: 29px;
border:solid 1px #000;
}

.topright {
position:absolute;
top: -1px;
right: -1px;
}

.bottomright {
position:absolute;
bottom: -1px;
right: -1px;
}

.topleft {
position:absolute;
top: -1px;
left: -1px;
}

.bottomleft {
position:absolute;
bottom: -1px;
left: -1px;
}

.drop-file {
position: absolute;
top: 52px;
left: 1px;
width: 130px;
background-color: white;
border: 1px solid #000;
display: none;
z-index: 9999;
}

.drop-opt {
position: absolute;
top: 52px;
left: 53px;
width: 215px;
background-color: white;
border: 1px solid #000;
display: none;
z-index: 9999;
}

.drop-win {
position: absolute;
top: 52px;
left: 129px;
width: 180px;
background-color: white;
border: 1px solid #000;
display: none;
z-index: 9999;
}

.drop-help {
position: absolute;
top: 52px;
left: 205px;
width: 115px;
background-color: white;
border: 1px solid #000;
display: none;
z-index: 9999;
}

.item-drop a {
display: block;
color: black;
padding: 4px;
font-size: 20px;
text-decoration: solid;
}
